@model TradingCompany.DTO.Category

@{
    ViewData["Title"] = "Delete Category";
}

<h1>Delete Category</h1>

<p>Ви дійсно хочете видалити категорію: <strong>@Model.Name</strong>?</p>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="CategoryID" name="id" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
